# Bibliotecas essenciais
numpy
pandas
seaborn
matplotlib
scipy
pymupdf
pytesseract
datasets
statsmodels
scikit-learn

# Processamento de linguagem natural (PLN)
wordcloud
nltk
gensim
ollama
openai
transformers[torch]
torcheval
torch

# Notebooks e ferramentas auxiliares
notebook
tqdm
jupyter
ipywidgets